.calculator {
  display: flex;
  flex-direction: column;
  border: 1px solid red;
  padding: 20px;

  input[type="number"],
  button {
    font-family: inherit;
    font-size: 18px;
  }

  &__row {
    margin-bottom: 20px;
  }
}
